<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.qfedu.mapper.AttributeDao">

    <select id="findAttr" resultMap="attr_value">
        select attr.attrId,attr.attrName,attrval.id,attrval.valueName from
        attribute as attr left join attrvalue as attrval
        on attr.attrId = attrval.attrId
    </select>
    <resultMap id="attr_value" type="Attribute">
        <id column="attrId" property="attrId"></id>
        <result column="attrName" property="attrName"></result>
        <collection property="attrValueList" ofType="AttrValue">
            <id property="id" column="id"></id>
            <result property="valueName" column="valueName"></result>
            <collection property="nameList" ofType="String" column="id" select="queryName"></collection>
        </collection>
    </resultMap>

    <select id="queryName" parameterType="int" resultType="String">
        select valueName from attrvalue where valueId = #{id}
    </select>
</mapper>
